*{
    padding:0;
    margin:0;
}
body{
    background:url(bg_img.jpg)no repeat;
    background-size:cover;
    align-items:center;
    justify-content:center;
    display:flex;
    background-image: url(https://t4.ftcdn.net/jpg/01/21/32/43/360_F_121324332_W1bUs7v0tW7pcbrAR3e6190pFJe0laQ8.jpg);
    font-family:sans-serif;
}
.container{
    position:relative;
    margin-top:100px;
    width:450px;
    height:auto;
    background:#dedede;
    border-radius:5px;
}
.label{
    padding:20px 130px;
    font-size:35px;
    font-weight:bold;
    color:#679e84;
}
.login_form{
    padding:20px 40px;
}
.login_form.font{
    font-size:18px;
    color:#821171;
    margin:5px0;
}
.login_form input{
    height:40px;
    width:350px;
    padding:0 5px;
    font-size:18px;
    outline:none;
    border:1px solid silver;
}
.login-form.font2{
    margin-top:30px;
}
.login_form button{
    margin:45px 0 30px 0;
    height:45px;
    width:365px;
    font-size:20px;
    color:rgb(233, 34, 34);
    outline:none;
    cursor:pointer;
    font-weight:bold;
    background:#1A237E;
    border-radius:3px;
    border:1px solid #3949AB;
    transition:.5s;
}
.login_form button:hover{
    background:#151cba;
}
.login_form #email_error,
.login_form #pass_error{
    margin-top:5px;
    width:345px
    font-size 18px;
    color:#f50606ee;
    background:rgba(255,0,0,0.1);
    text-align:center;
    padding:5px 8px;
    border: radius 3px;
    border:1px solid #EF9A9A;
}
